<div class="root">
  <div class="search-container">
    <span style="font-size: 14px; font-weight: 600; color: rgb(33, 67, 84)">
      Devices table
    </span>
    <div style="display: flex; flex-direction: row; gap: 18px">
      <div class="search-container-input">
        <input
          placeholder="Search the devices table"
          [(ngModel)]="searchTerm"
          (input)="filterDevices()"
        />
      </div>
      <div class="add-button" (click)="openForm()">Add Device</div>
      <div class="overlay" *ngIf="isFormOpen" (click)="onNoClick()"></div>
      <div class="form-container" *ngIf="isFormOpen">
        <app-device-form
          [device]="editingDevice"
          (closeForm)="closeForm($event)"
        ></app-device-form>
      </div>
    </div>
  </div>
  <ng-container *ngIf="filteredDevices$ | async as devices">
    <table mat-table [dataSource]="devices" class="mat-elevation-z8">
      <ng-container matColumnDef="id">
        <th mat-header-cell *matHeaderCellDef style="color: rgb(146, 146, 146)">
          Id
        </th>
        <td mat-cell *matCellDef="let device" style="border: none">
          {{ device.id }}
        </td>
      </ng-container>

      <ng-container matColumnDef="type">
        <th mat-header-cell *matHeaderCellDef style="color: rgb(146, 146, 146)">
          Type
        </th>
        <td mat-cell *matCellDef="let device" style="border: none">
          {{ device.type }}
        </td>
      </ng-container>

      <ng-container matColumnDef="description">
        <th mat-header-cell *matHeaderCellDef style="color: rgb(146, 146, 146)">
          Description
        </th>
        <td mat-cell *matCellDef="let device" style="border: none">
          {{ device.description }}
        </td>
      </ng-container>

      <ng-container matColumnDef="employeeId">
        <th mat-header-cell *matHeaderCellDef style="color: rgb(146, 146, 146)">
          Assigned to
        </th>
        <td mat-cell *matCellDef="let device" style="border: none">
          {{
            device.employeeId === null
              ? "Not assigned"
              : "Employee Id: " + device.employeeId
          }}
        </td>
      </ng-container>

      <ng-container matColumnDef="actions">
        <th mat-header-cell *matHeaderCellDef style="color: rgb(146, 146, 146)">
          Actions
        </th>
        <td
          mat-cell
          *matCellDef="let device"
          style="
            border: none;
            display: flex;
            height: inherit;
            align-items: center;
            gap: 8px;
          "
        >
          <div class="edit-button" (click)="openForm(device)">Edit</div>
          <div
            *ngIf="device.id !== undefined"
            (click)="deleteDevice(device.id)"
            class="delete-button"
          >
            <span>x</span>
          </div>
        </td>
      </ng-container>

      <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
      <tr mat-row *matRowDef="let row; columns: displayedColumns"></tr>
    </table>
  </ng-container>
</div>
