<div class="side-bar-root">
  <div class="side-bar-header">
    <div class="logo"></div>
    <div
      style="
        display: flex;
        flex-direction: column;
        flex: 1 1;
        height: 50%;
        justify-content: space-between;
      "
    >
      <span style="color: rgb(33, 67, 84)">Emporos</span
      ><span style="color: rgb(141, 141, 141); font-size: 14px"
        >Technology</span
      >
    </div>
    <app-chevron-left-svg />
  </div>
  <div class="side-bar-menu">
    <span
      style="
        color: rgb(109, 111, 115);
        font-size: 13px;
        font-weight: 600;
        margin-left: 16px;
      "
      >Overview</span
    >
    <div>
      <div class="side-bar-menu-item"><app-chevron-right-svg /> Dashboard</div>
      <div class="side-bar-menu-item"><app-chevron-right-svg /> Analytics</div>
      <div class="side-bar-menu-item"><app-chevron-right-svg /> Calendar</div>
      <div
        class="side-bar-menu-item"
        style="
          background-color: #dfebfa;
          color: rgb(23, 63, 83);
          border-right: 2px solid rgb(31, 73, 94);
        "
      >
        <app-chevron-right-svg /> Inventory
      </div>
      <div class="side-bar-menu-item"><app-chevron-right-svg /> Marketing</div>
      <div class="side-bar-menu-item"><app-chevron-right-svg /> Activity</div>
      <div class="side-bar-menu-item"><app-chevron-right-svg /> Static</div>
    </div>
  </div>
  <div
    class="side-bar-menu"
    style="height: calc(37% - 52px); justify-content: space-evenly"
  >
    <span
      style="
        color: rgb(109, 111, 115);
        font-size: 13px;
        font-weight: 600;
        margin-left: 16px;
      "
      >Account</span
    >
    <div>
      <div class="side-bar-menu-item"><app-chevron-right-svg /> Messages</div>
      <div class="side-bar-menu-item">
        <app-chevron-right-svg /> Notifications
      </div>
      <div class="side-bar-menu-item"><app-chevron-right-svg /> Settings</div>
      <div class="side-bar-menu-item">Log out</div>
    </div>
  </div>
</div>
