<div class="container">
  <span style="color: rgb(37, 67, 84); font-weight: 600">{{
    device ? "Update Device" : "Add Device"
  }}</span>
  <form (ngSubmit)="onSubmit()" class="form-container">
    <div class="input-holder">
      <input
        id="type"
        placeholder="Type"
        [(ngModel)]="newDevice.type"
        name="type"
        required
      />
      <input
        id="description"
        placeholder="Description"
        [(ngModel)]="newDevice.description"
        name="description"
        required
      />
    </div>
    <span style="color: rgb(37, 67, 84)" for="employeeId"
      >Assign to employee:</span
    >
    <div class="drop-down-holder">
      <select
        id="employeeId"
        [(ngModel)]="newDevice.employeeId"
        name="employeeId"
        required
        class="drop-down"
      >
        <option [ngValue]="null" selected>Not assigned</option>
        <option *ngFor="let employee of employees" [value]="employee.id">
          {{ employee.name + " " + "(" + employee.id + ")" }}
        </option>
      </select>
    </div>
    <div class="button-holder">
      <button class="delete-button" (click)="close()">Cancel</button>
      <button class="done-button" type="submit">Submit</button>
    </div>
  </form>
</div>
